.app-main {
  width: 100%;
}

.app-list {
  width: 100%;
  margin: 0 auto;

  &__item {
    display: flex;
    width: 100%;
    margin: $gutter 0;
    padding: 0.5 * $gutter $gutter;
    background: $light-gray;
  }
}

.item-image {

  &__img {
    width: 100%;
  }
}

.details-field {
  flex-grow: 1;

  &__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $black;
    outline: none;
    background-color: inherit;
  }
}
