.app-main {
  width: 100%;
}

.app-list {
  width: 100%;
  margin: 0 auto;

  &__item {
    display: flex;
    width: 100%;
    margin: $gutter 0;
    padding: 0.5 * $gutter $gutter;
    background: $light-gray;
  }
}

.item-image {
  display: flex;
  align-items: center;

  &__container {

    &--img {
      width: 100%;
    }
  }
}

.item-details {
  flex-grow: 1;
  margin-left: $gutter;
}
