// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
  &:after,
  &:before {
    box-sizing: inherit;
  }
}
.container {
  max-width: $max-content-width;
  margin: 0 auto;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
