.form {
  width: 100%;
  padding: $gutter;

  &__field {
    width: 100%;

    &--title {
      margin: 0;
    }

    &--input {
      width: 100%;
      border: 0;
      border-bottom: 1px solid $black;
      outline: none;
      background-color: inherit;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
