$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$orange: #f60;
$black: #000;
$dark-gray: #5e6d70;
$light-gray: #f2f2f3;
$white: #fff;
$max-content-width: 60rem;
$min-content: 10rem;
$gutter: 1rem;

@import 'font-awesome';
@import 'box-sizing';
@import 'resets';
@import 'header';
@import 'footer';
@import 'app-main';
@import 'form';
@import 'dropdown';
